@inject HttpClient Http
@inject ILogger<AppContractDetail> Logger
@inject MetamaskHostProvider _metamaskHostProvider
@inject Web3Service _web3Service
@inject ToastService toastService
@inject NftApi _nftApi
@inject IStringLocalizer<SharedResource> Loc

@page "/app/{NetworkName}/{ContractAddress}/{TokenId:long}"
@layout AppLayout

<PageTitle>@Title(ContractKind)</PageTitle>

<CascadingAuthenticationState>
    <AuthorizeView Roles="EthereumConnected">
        <Authorized>
            <section class="bg-gray-50 dark:bg-gray-900 my-10">
                <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
                    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                                @Title(ContractKind)
                            </h1>
                        </div>
                        @if (ContractKind == "OptionsContracts")
                        {
                            <OptionsDetail NetworkName="@NetworkName" ContractAddress="@ContractAddress" TokenId="@TokenId" />
                        }
                        else if (ContractKind == "LotteryContracts")
                        {
                            <LotteryDetail NetworkName="@NetworkName" ContractAddress="@ContractAddress" TokenId="@TokenId" />
                        }
                        else if (ContractKind == "RedEnvelopeContracts")
                        {
                            <RedEnvelopeDetail NetworkName="@NetworkName" ContractAddress="@ContractAddress" TokenId="@TokenId" />
                        }
                        else if (ContractKind == "RouletteContracts")
                        {
                            <RouletteDetail NetworkName="@NetworkName" ContractAddress="@ContractAddress" TokenId="@TokenId" />
                        }
                    </div>
                </div>
                <SingleToast />
            </section>
        </Authorized>
        <NotAuthorized>
            @Loc["Connect Wallet"]
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    [Parameter]
    public string ContractAddress { get; set; } = "";

    [Parameter]
    public long TokenId { get; set; }

    [Parameter]
    public string NetworkName { get; set; } = "";

    public AllContracts allContracts = new AllContracts();

    public string ContractKind => allContracts.GetContractKind(ContractAddress, NetworkName);

    public string Title(string contractKind) {
        if (contractKind == "OptionsContracts")
        {
            return Loc["Options"];
        }
        else if (contractKind == "LotteryContracts")
        {
            return Loc["Lottery"];
        } else if (contractKind == "RedEnvelopeContracts")
        {
            return Loc["RedEnvelope"];
        }
        else if (contractKind == "Roulette")
        {
            return Loc["Roulette"];
        }
        return "Unknown Contract";
    }
}
