@inject IStringLocalizer<SharedResource> Loc

@page "/app/collections"
@layout AppLayout

<PageTitle>@Loc["Collections"]</PageTitle>


<section class="bg-gray-50 dark:bg-gray-900">
<div class="flex flex-col items-center justify-center px-64 mx-auto md:h-screen lg:py-0">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    @Loc["Name"]
                </th>
                <th scope="col" class="px-6 py-3">
                    @Loc["Contract Address"]
                </th>
                <th scope="col" class="px-6 py-3">
                    @Loc["Category"]
                </th>
                <th scope="col" class="px-6 py-3">
                    @Loc["Network"]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var collection in optionsCollections)
            {
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <a href=@($"{collection.Network.OpenseaHost}/{collection.Address}") target="_blank">@collection.Name</a>
                </th>
                <td class="px-6 py-4">
                    <a href=@($"{collection.Network.EtherscanHost}/address/{collection.Address}") target="_blank">@collection.Address</a>
                </td>
                <td class="px-6 py-4">
                    @Loc["Options"]
                </td>
                <td class="px-6 py-4">
                    @collection.Network.Name
                </td>
            </tr>
            }
            @foreach(var collection in lotteryCollections)
            {
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <a href=@($"{collection.Network.OpenseaHost}/{collection.Address}") target="_blank">@collection.Name</a>
                </th>
                <td class="px-6 py-4">
                    <a href=@($"{collection.Network.EtherscanHost}/address/{collection.Address}") target="_blank">@collection.Address</a>
                </td>
                <td class="px-6 py-4">
                    @Loc["Lottery"]
                </td>
                <td class="px-6 py-4">
                    @collection.Network.Name
                </td>
            </tr>
            }

            @foreach(var collection in redEnvelopeCollections)
            {
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <a href=@($"{collection.Network.OpenseaHost}/{collection.Address}") target="_blank">@collection.Name</a>
                </th>
                <td class="px-6 py-4">
                    <a href=@($"{collection.Network.EtherscanHost}/address/{collection.Address}") target="_blank">@collection.Address</a>
                </td>
                <td class="px-6 py-4">
                    @Loc["RedEnvelope"]
                </td>
                <td class="px-6 py-4">
                    @collection.Network.Name
                </td>
            </tr>
            }

            @foreach(var collection in rouletteCollections)
            {
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <a href=@($"{collection.Network.OpenseaHost}/{collection.Address}") target="_blank">@collection.Name</a>
                </th>
                <td class="px-6 py-4">
                    <a href=@($"{collection.Network.EtherscanHost}/address/{collection.Address}") target="_blank">@collection.Address</a>
                </td>
                <td class="px-6 py-4">
                    @Loc["Roulette"]
                </td>
                <td class="px-6 py-4">
                    @collection.Network.Name
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
</section>

@code {
    public IList<TwoAssetNFTContract> optionsCollections {get; set;} = (new OptionsContracts()).Inner;

    public IList<SingleAssetNFTContract> lotteryCollections {get; set;} = (new LotteryContracts()).Inner;

    public IList<SingleAssetNFTContract> redEnvelopeCollections {get; set;} = (new RedEnvelopeContracts()).Inner;

    public IList<SingleAssetNFTContract> rouletteCollections {get; set;} = (new RouletteContracts()).Inner;
}
