@page "/app"
@layout AppLayout
@inject ILogger<AppMint> Logger
@inject MetamaskHostProvider _metamaskHostProvider;
@inject AuthenticationStateProvider _authenticationStateProvider;

@using Nethereum.Web3;
@using Nethereum.Contracts.CQS;
@using Nethereum.Util;
@using Nethereum.Web3.Accounts;
@using Nethereum.Hex.HexConvertors.Extensions;
@using Nethereum.Contracts;
@using Nethereum.Contracts.Extensions;
@using System.Numerics;
@using System.Security.Claims

<PageTitle>Mint</PageTitle>

<CascadingAuthenticationState>
    <AuthorizeView Roles="EthereumConnected">
        <Authorized>
            <section class="bg-gray-50 dark:bg-gray-900">
                <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
                    <div
                        class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                                Mint
                            </h1>
                            <form class="space-y-4 md:space-y-6" @onsubmit="Submit">
                                <div>
                                    <label for="tokenPairs"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Token Pair</label>
                                    <select id="tokenPair"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        @onchange="SelectedTokenPairChanged"
                                        >
                                        <option></option>
                                        @foreach(var tokenPair in AllTokenPairs.Inner)
                                        {
                                            <option value="@tokenPair.BaseAssetName/@tokenPair.QuoteAssetName">@tokenPair.BaseAssetName/@tokenPair.QuoteAssetName</option>
                                        }
                                    </select>
                                </div>
                                <div>
                                    <label for="optionsKind"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Options Kind</label>
                                    <select id="optionsKind"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        @bind="SelectedOptionsKind">

                                        <option>calls</option>
                                        <option>puts</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="baseAsset" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white flex flex-row justify-between">
                                        @if (SelectedTokenPair is not null)
                                        {
                                        <span>
                                            @if (SelectedOptionsKind == "calls") {
                                                <b>You pay @SelectedTokenPair.BaseAssetName</b>
                                            } else if (SelectedOptionsKind == "puts") {
                                                <b>You will get @SelectedTokenPair.BaseAssetName</b>
                                            }
                                        </span>
                                        <span>
                                            @if(UserBaseAssetBalance is not null) {
                                                <a class="font-medium text-blue-600 hover:underline dark:text-blue-500" href="@SelectedTokenPair.GetEtherScanTokenBalanceUrl(@SelectedTokenPair.BaseAssetAddress, @_metamaskHostProvider.SelectedAccount)" target="_blank">Balance: @UserBaseAssetBalance</a>
                                            }
                                        </span>
                                        }
                                        else
                                        {
                                            <span>N/A</span>
                                        }
                                        
                                    </label>
                                    <input type="number" name="baseAssetAmount" id="baseAssetAmount"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="you pay" required="" @bind-value:get="InputedBaseAssetAmount" @bind-value:set="SetInputedBaseAssetAmount">
                                    @if(SelectedOptionsKind == "calls" && UserBaseAssetBalance == new Decimal(0))
                                    {
                                        <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">Balance not enough? Get some from uniswap or binance</p>
                                    }
                                </div>
                                <div>
                                    <label for="quoteAsset"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white flex flex-row justify-between">
                                        @if (SelectedTokenPair is not null)
                                        {
                                        <span>
                                            @if (SelectedOptionsKind == "calls") {
                                                <b>You will get @SelectedTokenPair.QuoteAssetName</b>
                                            } else if (SelectedOptionsKind == "puts") {
                                                <b>You pay @SelectedTokenPair.QuoteAssetName</b>
                                            }
                                        </span>
                                        <span>
                                            @if(UserQuoteAssetBalance is not null) {
                                                <a class="font-medium text-blue-600 hover:underline dark:text-blue-500" href="@SelectedTokenPair.GetEtherScanTokenBalanceUrl(@SelectedTokenPair.QuoteAssetAddress, @_metamaskHostProvider.SelectedAccount)" target="_blank">Balance: @UserQuoteAssetBalance</a>
                                            }
                                        </span>
                                        }
                                        else
                                        {
                                            <span>N/A</span>
                                        }
                                        
                                    </label>
                                    <input type="number" name="quoteAsset" id="quoteAsset" placeholder="you will get"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        required="" @bind-value:get="InputedQuoteAssetAmount" @bind-value:set="SetInputedQuoteAssetAmount">
                                    @if(SelectedOptionsKind == "puts" && UserQuoteAssetBalance == 0)
                                    {
                                        <p id="helper-text-explanation" class="mt-2 text-sm text-red-600 dark:text-red-500">Balance not enough? Get some from uniswap or binance</p>
                                    }
                                </div>
                                

                                <ol class="space-y-4 w-72">
                                    <li>
                                        <MintProgressButton Text="1. Check Allowance" Finished=@Steps[0].Finished Disabled=@Steps[0].Disabled ClickCallback=@CheckAllowance />
                                    </li>
                                    <li>
                                        <MintProgressButton Text="2. Approve" Finished=@Steps[1].Finished Disabled=@Steps[1].Disabled ClickCallback=@Approve />
                                    </li>
                                    <li>
                                        <MintProgressButton Text="3. Mint" Finished=@Steps[2].Finished Disabled=@Steps[2].Disabled ClickCallback=@Mint />
                                    </li>
                                </ol>

                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </Authorized>
        <NotAuthorized>
            <MyMetamask />
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>


@code {
    public TokenPairs AllTokenPairs = new TokenPairs();

    public string SelectedOptionsKind {get; set;} = "calls";

    public string SelectedTokenPairName {get; set;} = "";

    public decimal? UserBaseAssetBalance {get; set;}

    public decimal? UserQuoteAssetBalance {get; set;}

    public TokenPair? SelectedTokenPair {get; set;}
    public (string, string) SelectedTokenPairTuple {get; set;} = ("", "");

    public decimal InputedBaseAssetAmount {get; set;} = 0m;

    private void SetInputedBaseAssetAmount(decimal value)
    {
        if (SelectedOptionsKind == "calls")
        {
            if (UserBaseAssetBalance is not null)
            {
                if (value >= UserBaseAssetBalance)
                {
                    InputedBaseAssetAmount = UserBaseAssetBalance.Value;
                } else if (value <= 0)
                {
                    InputedBaseAssetAmount = 0;
                } else {
                    InputedBaseAssetAmount = value;
                }
            } else {
                InputedBaseAssetAmount = 0;
            }
        } else {
            if (value <= 0)
            {
                InputedBaseAssetAmount = 0;
            }
            else
            {
                InputedBaseAssetAmount = value;
            }
        }
    }

    public decimal InputedQuoteAssetAmount {get; set;} = 0m;

    private void SetInputedQuoteAssetAmount(decimal value)
    {
        if (SelectedOptionsKind == "puts")
        {
            if (UserQuoteAssetBalance is not null)
            {
                if (value >= UserQuoteAssetBalance)
                {
                    InputedQuoteAssetAmount = UserQuoteAssetBalance.Value;
                } else if (value <= 0)
                {
                    InputedQuoteAssetAmount = 0;
                }
                else
                {
                    InputedQuoteAssetAmount = value;
                }
            } else {
                InputedQuoteAssetAmount = 0;
            }
        }
        else
        {
            InputedQuoteAssetAmount = value;
        }
    }

    public class Step
    {
        public bool Finished {get; set;} = false;

        public bool Disabled {get; set;} = true;
    }

    public Step[] Steps = [
        new Step { Finished = false, Disabled = false},
        new Step { Finished = false, Disabled = true},
        new Step { Finished = false, Disabled = true},
    ];


    private async Task Submit()
    {
        var state = await _authenticationStateProvider.GetAuthenticationStateAsync();
        var currentAddr1 = state.User.FindFirst(c => c.Type.Contains(ClaimTypes.NameIdentifier))?.Value;
        Logger.LogInformation("TokenPair={TokenPair}, OptionsKind={OptionsKind}, baseAsset={baseAsset}, quoteAsset={quoteAsset}", 
            SelectedTokenPairName, SelectedOptionsKind, InputedBaseAssetAmount, InputedQuoteAssetAmount);
        var selectedTokenPair = AllTokenPairs.FindByPair(SelectedTokenPairName);
        if (selectedTokenPair is not null)
        {
            Logger.LogInformation($"baseAssetAddr={selectedTokenPair.BaseAssetAddress}, quoteAssetAddr={selectedTokenPair.QuoteAssetAddress}");
        }
        else
        {
            Logger.LogInformation("no token pair matched");
        }
    }

    private async Task CheckAllowance(MouseEventArgs e)
    {
        if (SelectedTokenPair is not null && SelectedOptionsKind != "" && InputedBaseAssetAmount > 0 && InputedQuoteAssetAmount > 0)
        {
            Logger.LogInformation("can click check allowance");
            if (SelectedOptionsKind == "calls")
            {
                if (InputedBaseAssetAmount <= UserBaseAssetBalance)
                {
                    Logger.LogInformation("user base balance is ok");
                    var baseAssetAllowanceWei = await GetAllowance(_metamaskHostProvider.SelectedAccount, SelectedTokenPair.NftAddress, SelectedTokenPair.BaseAssetAddress);
                    var baseAssetAllowance = Web3.Convert.FromWei(baseAssetAllowanceWei, SelectedTokenPair.BaseAssetDecimals);
                    Logger.LogInformation($"weth allowance={baseAssetAllowance}");
                    if (baseAssetAllowance >= InputedBaseAssetAmount)
                    {
                        Logger.LogInformation($"weth allowance check passed");
                        Steps[0].Finished = true;
                        Steps[0].Disabled = true;

                        Steps[1].Disabled = false;
                    }
                }
                else
                {
                    Logger.LogInformation("base balance not enough");
                }
            }
            else if (SelectedOptionsKind == "puts")
            {
                if (InputedQuoteAssetAmount <= UserQuoteAssetBalance)
                {
                    Logger.LogInformation("user quote balance is ok");
                    // Check USDC allowance
                    var quoteAssetAllowanceWei = await GetAllowance(_metamaskHostProvider.SelectedAccount, SelectedTokenPair.NftAddress, SelectedTokenPair.QuoteAssetAddress);
                    var quoteAssetAllowance = Web3.Convert.FromWei(quoteAssetAllowanceWei, SelectedTokenPair.QuoteAssetDecimals);
                    if (quoteAssetAllowance >= InputedQuoteAssetAmount)
                    {
                        Logger.LogInformation($"quote allowance check passed");
                        Steps[0].Finished = true;
                        Steps[0].Disabled = false;

                        Steps[1].Disabled = false;
                    }
                }
                else
                {
                    Logger.LogInformation("quote balance not enough");
                }
            }
        }
        else
        {
            Logger.LogInformation("can not click check allowance");
        }
    }

    private async Task Approve(MouseEventArgs e)
    {
        Logger.LogInformation("approve clicked");
        await Task.CompletedTask;
    }

    private async Task Mint(MouseEventArgs e)
    {
        Logger.LogInformation("mint clicked");
        await Task.CompletedTask;
    }

    private async Task SelectedTokenPairChanged(ChangeEventArgs e)
    {
        if (e.Value is not null)
        {
            SelectedTokenPairName = (string)e.Value;
            SelectedTokenPair = AllTokenPairs.FindByPair(SelectedTokenPairName);
            if (SelectedTokenPair is not null)
            {
                var state = await _authenticationStateProvider.GetAuthenticationStateAsync();
                var currentAddr1 = state.User.FindFirst(c => c.Type.Contains(ClaimTypes.NameIdentifier))?.Value;
                var baseBalanceInWei = await GetUserBalance(currentAddr1!, SelectedTokenPair.BaseAssetAddress);
                UserBaseAssetBalance = Web3.Convert.FromWei(baseBalanceInWei, SelectedTokenPair.BaseAssetDecimals);
                var quoteBalanceInWei = await GetUserBalance(currentAddr1!, SelectedTokenPair.QuoteAssetAddress);
                UserQuoteAssetBalance = Web3.Convert.FromWei(quoteBalanceInWei, SelectedTokenPair.QuoteAssetDecimals);
            }
        }
    }

    [Nethereum.ABI.FunctionEncoding.Attributes.Function("balanceOf", "uint256")]
    public class BalanceOfFunction : FunctionMessage
    {
        [Nethereum.ABI.FunctionEncoding.Attributes.ParameterAttribute("address", "_owner", 1)]
        public string Owner { get; set; } = "";
    }

    private async Task<BigInteger> GetUserBalance(string userAddress, string contractAddress)
    {
        var balanceOfFunctionMessage = new BalanceOfFunction()
        {
            Owner = userAddress,
        };

        var web3 = await _metamaskHostProvider.GetWeb3Async();
        var balanceHandler = web3.Eth.GetContractQueryHandler<BalanceOfFunction>();
        var balance = await balanceHandler.QueryAsync<BigInteger>(contractAddress, balanceOfFunctionMessage);
        return balance;
    }

    [Nethereum.ABI.FunctionEncoding.Attributes.Function("allowance", "uint256")]
    public class AllowanceFunction : FunctionMessage
    {
        [Nethereum.ABI.FunctionEncoding.Attributes.ParameterAttribute("address", "addr1", 1)]
        public string Addr1 { get; set; } = "";

        [Nethereum.ABI.FunctionEncoding.Attributes.ParameterAttribute("address", "addr2", 2)]
        public string Addr2 { get; set; } = "";

    }

    private async Task<BigInteger> GetAllowance(string payAddr, string recvAddr, string contractAddress)
    {
        var allowanceFunctionMessage = new AllowanceFunction()
        {
            Addr1 = payAddr,
            Addr2 = recvAddr,
        };

        var web3 = await _metamaskHostProvider.GetWeb3Async();
        var handler = web3.Eth.GetContractQueryHandler<AllowanceFunction>();
        var balance = await handler.QueryAsync<BigInteger>(contractAddress, allowanceFunctionMessage);
        Logger.LogInformation($"GetAllowance: addr1={payAddr}, addr2={recvAddr}, contract={contractAddress}, balance={balance}");
        return balance;
    }

}
