@inject HttpClient Http
@inject ILogger<RedEnvelopeDetail> Logger
@inject MetamaskHostProvider _metamaskHostProvider
@inject Web3Service _web3Service
@inject ToastService toastService
@inject NftApi _nftApi
@inject IStringLocalizer<SharedResource> Loc
@inject IMetamaskInterop _metamaskInterop;

@page "/app/{NetworkName}/redenvelope/{ContractAddress}/{TokenId:long}"
@layout AppLayout

<PageTitle>@Loc["RedEnvelope"]</PageTitle>

<CascadingAuthenticationState>
    <AuthorizeView Roles="EthereumConnected">
        <Authorized>
            <section class="bg-gray-50 dark:bg-gray-900 my-10">
                <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
                    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                        <div class="flex flex-row items-center content-center justify-between p-6 space-y-4 md:space-y-6 sm:p-8">
                            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                                @Loc["RedEnvelope"]
                            </h1>
                            <ShareLinks NetworkName="@NetworkName" ContractAddress="@ContractAddress" TokenId="@TokenId" />
                        </div>
                        <div class="mx-auto flex flex-col items-center py-2 max-w-sm bg-white rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                            @if (Token is null)
                            {
                                <img class="rounded-t-lg"
                                    src="@DefaultImage"
                                    alt="">
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(NftUrl))
                                {
                                    <a href="@NftUrl" target="_blank">
                                        <img class="rounded-t-lg"
                                            src="@Token.ImageData"
                                            alt="">
                                    </a>
                                }
                                else
                                {
                                    <img class="rounded-t-lg"
                                        src="@Token.ImageData"
                                        alt="">
                                }

                                <div class="flex flex-row items-center justify-center gap-2 p-5">
                                    @if (IsUserOwner)
                                    {
                                        <button type="button" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 @OpenButtonDisabledClass"
                                            @onclick="async () => await HandleOpen(Token)"
                                            disabled=@OpenButtonDisabled>
                                            @Loc["Open_Stmt"]
                                        </button>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <SingleToast />
            </section>
        </Authorized>
        <NotAuthorized>
            @Loc["Connect Wallet"]
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    [Parameter]
    public string ContractAddress { get; set; } = "";

    [Parameter]
    public long TokenId { get; set; }

    [Parameter]
    public string NetworkName { get; set; } = "";

    public NetworkCore? SelectedNetwork => NetworkConfig.GetNetworkByName(NetworkName);

    private string DefaultImage = "data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiB3aWR0aD0iODAwcHgiIGhlaWdodD0iODAwcHgiIHZpZXdCb3g9IjAgMCAzMiAzMiIgaWQ9Imljb24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOm5vbmU7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5uby1pbWFnZTwvdGl0bGU+PHBhdGggZD0iTTMwLDMuNDE0MSwyOC41ODU5LDIsMiwyOC41ODU5LDMuNDE0MSwzMGwyLTJIMjZhMi4wMDI3LDIuMDAyNywwLDAsMCwyLTJWNS40MTQxWk0yNiwyNkg3LjQxNDFsNy43OTI5LTcuNzkzLDIuMzc4OCwyLjM3ODdhMiwyLDAsMCwwLDIuODI4NCwwTDIyLDE5bDQsMy45OTczWm0wLTUuODMxOC0yLjU4NTgtMi41ODU5YTIsMiwwLDAsMC0yLjgyODQsMEwxOSwxOS4xNjgybC0yLjM3Ny0yLjM3NzFMMjYsNy40MTQxWiIvPjxwYXRoIGQ9Ik02LDIyVjE5bDUtNC45OTY2LDEuMzczMywxLjM3MzMsMS40MTU5LTEuNDE2LTEuMzc1LTEuMzc1YTIsMiwwLDAsMC0yLjgyODQsMEw2LDE2LjE3MTZWNkgyMlY0SDZBMi4wMDIsMi4wMDIsMCwwLDAsNCw2VjIyWiIvPjxyZWN0IGlkPSJfVHJhbnNwYXJlbnRfUmVjdGFuZ2xlXyIgZGF0YS1uYW1lPSImbHQ7VHJhbnNwYXJlbnQgUmVjdGFuZ2xlJmd0OyIgY2xhc3M9ImNscy0xIiB3aWR0aD0iMzIiIGhlaWdodD0iMzIiLz48L3N2Zz4K";

    public string NftUrl => SelectedNetwork is not null ? SelectedNetwork.BuildNftUrl(ContractAddress, TokenId) : "";

    public UserRedEnvelopeNFT? Token { get; set; }

    public int Balance { get; set;}

    public bool IsUserOwner => Balance > 0;

    protected override void OnInitialized()
    {
        _metamaskHostProvider.NetworkChanged += MetamaskHostProvider_NetworkChainIdChanged;
        _metamaskHostProvider.SelectedAccountChanged += MetamaskHostProvider_SelectedAccountChanged;
    }

    private async Task MetamaskHostProvider_SelectedAccountChanged(string account)
    {
        Balance = await _web3Service.Erc1155BalanceOf(_metamaskHostProvider.SelectedAccount, ContractAddress, TokenId);
        await InvokeAsync(() => this.StateHasChanged());
    }

    private async Task MetamaskHostProvider_NetworkChainIdChanged(long chainId)
    {
        var targetNetwork = NetworkConfig.GetNetworkByName(NetworkName);
        if (targetNetwork is not null && targetNetwork.ChainId != chainId)
        {
            var p = new Dictionary<string, string>();
            p.Add("chainId", "0x" + Convert.ToString(targetNetwork.ChainId, 16));
            await _metamaskInterop.SendAsync(new Nethereum.JsonRpc.Client.RpcMessages.RpcRequestMessage(null, "wallet_switchEthereumChain", p));
        }

        await initTokens();
        await InvokeAsync(() => this.StateHasChanged());
    }

    private async Task initTokens()
    {
        if (Token is null && _metamaskHostProvider.SelectedNetworkChainId > 0)
        {
            string metadataUri = await _web3Service.GetUri(ContractAddress, TokenId);
            Token = UserRedEnvelopeNFT.FromStr(_metamaskHostProvider.SelectedNetworkChainId, ContractAddress, TokenId, metadataUri);

            Balance = await _web3Service.Erc1155BalanceOf(_metamaskHostProvider.SelectedAccount, ContractAddress, TokenId);
        }
    }

    public void Dispose()
    {
        _metamaskHostProvider.NetworkChanged -= MetamaskHostProvider_NetworkChainIdChanged;
        _metamaskHostProvider.SelectedAccountChanged -= MetamaskHostProvider_SelectedAccountChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await initTokens();
            await InvokeAsync(() => this.StateHasChanged());
        }
    }

    private bool OpenButtonDisabled = false;

    private string OpenButtonDisabledClass => OpenButtonDisabled ? "cursor-not-allowed" : "";

    private async Task HandleOpen(UserRedEnvelopeNFT token)
    {
        OpenButtonDisabled = true;
        try
        {
            var txHash = await _web3Service.OpenRedEnvelope(token.TokenId, token.Contract);
            toastService.ShowToast($"Token: {token.TokenId} {Loc["MintSuccess_Stmt"]}", ToastLevel.Success);

            // 刷新元数据
            await Task.Delay(1000);
            await _nftApi.RefreshMetadata(token.Contract, token.ChainId, token.TokenId);

        }
        catch (Nethereum.JsonRpc.Client.RpcResponseException e)
        {
            if (e.Message.Contains("User denied transaction signature"))
            {
                toastService.ShowToast(Loc["TxCancelled_Stmt"], ToastLevel.Error);
            }
        }
        finally
        {
            OpenButtonDisabled = false;
        }
    }
}
